.landingNote
{
  color: rgb(94, 94, 94);
  font-size: 18px;
  font-weight: bold;
}

.heading
{
    font-size: 30px;
    font-weight: bold;
}

.paragraph
{
  padding:0 35% 0 0;
  font-size: 18px;
  font-weight: bold;
}

.btn {
  width: 200px;
  height: 50px;
  background-color: green;
  cursor: pointer;
  color: whitesmoke;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 0px 10px 0px 0px;
}